<%= stylesheet_link_tag "home" %>

<!-- content-box div -->
<div id="content-box">
	
	<!-- content div -->
	<div id="content">

		<!-- image-box div -->
		<div id="image-box">
			<%= image_tag("home.jpg") %>
		</div>
		<!-- END image-box div -->
		
		<!-- text-box div -->
		<div id="text-box">
		</div>
		<!-- END text-box div -->

	</div>
	<!-- END content div -->

	<!-- radio-buttons div -->
	<div id="radio-buttons">
	</div>
	<!-- END radio-buttons div -->
</div>
<!-- END content-box div -->