#content-box-about {
	background-color:#cecdcd;
	margin:0 auto;
	height:600px;
	width:1150px;
}
#about-us-words {
	background-color:#ffffff;
	display:inline-block;
	float:left;
	height:600px;
	width:40%;
	font-family:Georgia;
}
#about-us-pics {
	display:inline-block;
	float:right;
	height:600px;
	width:40%;
}
#about-us-pics img {
	width:100%;
}
h1 {
	text-align:center;
	text-decoration:underline;
}
#mission {
	margin-top:50px;
}
#history {
	margin-top:150px;
}