#content-box-about {
	background-color:#cecdcd;
	margin:0 auto;
	/*height:600px;*/
	/*width:1350px;*/
	width: 90%;
}
#about-us-words {
	background-color:#ffffff;
	display:inline-block;
	float:left;
	height:1143px;
	width:54%;
	font-family:Georgia;

	border-radius: 10px;
}
#about-us-pics {
	display:inline-block;
	float:right;
	height:600px;
	width:40%;
}
#about-us-pics img {
	width:100%;
}
.subheader {
	text-align:center;
	font-size: 1.5em;
	color: #2C76C7;
}
#mission {
	margin-top:35px;
}
#history {
	margin-top:40px;
}
.paragraph {
	padding: 15px;
	font-family: "Calibri";
	font-size: 1.2em
}
