#about {
	/*display:inline;*/
	height:600px;
	width:1150px;
}
#words {
	background-color:#ffffff;
	display:inline-block;
	height:600px;
	width:40%;
}
#pics {
	display:inline-block;
	float:right;
	height:600px;
	width:40%;
}
#pics img {
	width:100%;
}