#contact-box-contact {
  background-color:#ffffff;
  height:600px;
  margin:0 auto;
  width:1150px;
}
#title {
  margin-top:10px;
  font-family:sans-serif;
  color: #414141;
  font-size:30px;
}
#narrowinput {
  display: inline-block;
  margin: 15px;
  border-radius: 6px;
  line-height: 1.5em;
  border: 1px;
  border-style: solid;
  border-color: #999999;
  text-align: right;
}
#emailbodyinput {
  display: inline-block;
  margin: 15px;
  border-radius: 6px;
  line-height: 1.5em;
  vertical-align: middle;
}
button {
  border: 1px;
  border-style: solid;
  border-color: #999999;
  width: 10em;
  height: 2em;
  border-radius: 6px;
}
