.carousel-img img {
	width:1150px;
	height:500px;
}

#content-box-home {
	background-color:#ffffff;
	height:560px;
	margin:0 auto;
	width:1150px;
}
#content-home {
	font-family:Georgia;
}
#text-box {
	text-align:center;
}
#radio-buttons {
	
}