#content-box-home {
	background-color:#ffffff;
	display:inline-block;
	height:600px;
	width:1150px;
}
#content-home {
	/*text-align:center;*/
}
#image-box {

}
#image-box img {
	width:100%;
}
#text-box {
	
}
#radio-buttons {
	
}