<div id="content-box-about">

	<div id="about-us-words">

		<div id="mission">
			<h1>Lion Ambassador Mission:</h1>
			<p>The mission of the Penn State Behrend Lion Ambassadors is to help students, alumni, and friends of the University realize that their involvement with Penn State can and should be a lifetime experience. Sponsored by the college's Office of Development and University Relations, the Lion Ambassadors share their pride, their enthusiasm and their commitment to Penn State and to the Behrend College.</p>
		</div>

		<div id="history">
			<h1>Lion Ambassador History:</h1>
			<p>Lorep ipsum.</p>
		</div>

	</div>

	<div id="about-us-pics">
		<%= image_tag("mission.jpg") %>
		<%= image_tag("history.jpg") %>
	</div>

</div>