<!-- content-box-home div -->
<div id="content-box-home">

	<!-- content-home div -->
	<div id="content-home">

		<!-- image-box div -->
		<div id="image-box">
			<%= image_tag("home.jpg") %>
		</div>
		<!-- END image-box div -->
		
		<!-- text-box div -->
		<div id="text-box">
			<p>Lorep ipsum</p>
		</div>
		<!-- END text-box div -->

	</div>
	<!-- END content div -->

	<!-- radio-buttons div -->
	<div id="radio-buttons">
	</div>
	<!-- END radio-buttons div -->
	
</div>
<!-- END content-box div -->