<!-- content-box-contact div -->
<div id="content-box-contact">
  <h1 id="title">Contact Us</h1>
  <br>
  <p>Need Lion Ambassador Volunteers?</p>
  <p>Send us an Email!</p>
  <br>
  <br>
  <label>Your Name
    <input id="narrowinput" name="fromname"></input>
  </label>
  <br>
  <label>Your Email
    <input id="narrowinput" name="fromemail"></input>
  </label>
  <br>
  <label style ="padding-left: 25px;">Subject
    <input id="narrowinput" name="subject"></input>
  </label>
  <br>
  <label>Email Body
    <textarea id="emailbodyinput" name="emailbody"></textarea>
  </label>
  <br>
  <button id="sendbutton">Send Message</button>
</div>
<!-- END content-box-email div -->